<h1>Welcome to CSE Motors!</h1>
<img src="views\index.ejs
public\images\vehicles\delorean.jpg" alt="belorean car">
<div>
    <h2>DMC Delorean</h2>
    <p>3 Cup holders</p>
    <p>Superman doors</p>
    <p>Fuzzy dicel</p>
    <button>Own Today</button>
</div>
